@use "index" as *;

.sectionIntro {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sectionIntroTitle {
  @include heading;
  margin-bottom: 1rem;
  flex: 1;
}

.sectionIntroDescription {
  line-height: 1.75;
}

@media ($breakpoint-lg) {
  .sectionIntro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sectionIntroDescription {
    flex: 1;
  }

  .sectionIntroDescription {
    @include paragraph;
  }
}
