@use "index" as *;

.cardContainer {
  background: $black-secondary;
  border-radius: 2rem;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.pricingPlan {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include container;
  margin-block: 2.5rem;
}

.pricingPlanTitle {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.pricingPlanDescription {
  margin-bottom: 2rem;
  line-height: 1.75;
}

.pricingPlanSubtitle {
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.pricingPlanPrice {
  font-weight: 600;
  font-size: 32px;
  line-height: 43.2px;

  @include text-blue-gradient(101.02deg);
}

.pricingPlanItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1.75;

  .disabled__ {
    opacity: 0.4;
  }
}

.pricingPlanButtonContainer {
  background-image: linear-gradient(135deg, #11cca8, #4ac5df) !important;
  display: flex;
  margin-top: 1.5rem;
  padding: 1px !important;
  border-radius: 100vw;
}

.pricingPlanButton {
  width: 100%;
  background: #0f2327 !important;
  color: #4ac5df !important;
  padding: 1rem 2.5rem;
  border-radius: 100vw;
  text-align: center;
}

@media ($breakpoint-lg) {
  .cardContainer {
    padding: 2.75rem;
  }

  .pricingPlan {
    flex-direction: row;
    margin-block: 5rem;
    align-items: center;
    gap: 6rem;
  }

  .pricingPlanTitle {
    font-size: 2.75rem;
  }

  .pricingPlanDescription {
    font-size: 18px;
  }
}
