@use "index" as *;

.heroSection {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 2.5rem;
}

.heroLeftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  @include heading;
  margin-bottom: 1rem;
}

.heroDescription {
  @include paragraph;
  margin-bottom: 48px;
}

.heroButton {
  @include hover-lift;
  padding: 18px 40px;
  align-self: baseline;
}

.heroImage {
  width: 100%;
  height: auto;
}

@media ($breakpoint-lg) {
  .heroSection {
    flex-direction: row;
    margin-block: 5rem;
  }

  .heroLeftSection {
  }
}
