@use "index" as *;

.heroSection {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-block: 2.5rem;
}

.heroTitle {
  @include heading;
  margin-bottom: 1rem;
}

.heroDescription {
  @include paragraph;
  margin-bottom: 48px;
}

.heroButton {
  @include hover-lift;
  padding: 18px 40px;
}

.heroImage {
  width: 100%;
  height: auto;
  max-height: 576px;
}

@media ($breakpoint-lg) {
  .heroSection {
    flex-direction: row;
  }
}
