@use "index" as *;

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 50;
}

.nav {
  @include container;
  margin-block: 1rem;
}

.navContainer {
  background: $black-secondary;
  box-shadow: 35px 0px 70px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  position: relative;

  &.mobileMenuOpened__ {
    border-radius: 1rem 1rem 0 0;
  }
}

.navContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

.navLinks {
  display: none;
  align-items: center;
  gap: 2rem;
}

.navLink {
  color: #ffffff;

  &:hover {
    color: hsla(0, 0%, 100%, 0.7);
  }
  @include hover-lift;
}

.navButtons {
  display: none;
  align-items: center;
  gap: 1rem;
}

.signInBtn {
  @include hover-lift;
  &:hover {
    color: hsla(0, 0%, 100%, 0.7);
  }
}

.getStartedBtn {
  @include hover-lift;
  font-size: 14px !important;
}

.mobileMenu {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #102328;
  border-radius: 0 0 1rem 1rem;
  height: 0;
  z-index: 2;
  border-radius: 1rem;
  transition: height 0.5s;

  &.menuOpened__ {
    height: calc(100vh - 1.5rem);
  }
}

.mobileMenuContent {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;

  &.menuOpened__ {
    opacity: 1;
    pointer-events: all;
  }
}

.mobileMenuBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
}

.hamburgerLine {
  display: block;
  height: 1px;
  background: linear-gradient(135deg, #11cca8, #4ac5df);
  width: 32px;
  position: absolute;
  top: 16px;
  right: 8px;
  transition-property: transform, opacity, width;
  transition-duration: 0.5s;

  &:nth-child(1) {
    &.animate__ {
      transform: translateY(10px) rotate(-45deg);
    }
  }

  &:nth-child(2) {
    top: 24px;
    width: 18px;

    &.animate__ {
      transform: translateX(5px);
      opacity: 0;
    }
  }

  &:nth-child(3) {
    top: 32px;
    width: 24px;

    &.animate__ {
      transform: translateY(-5px) rotate(45deg);
      width: 32px;
    }
  }

  &.top__ {
    &.animate__ {
      transform: ttranslateY(-3px);
    }
  }
}

.mobileNavLink {
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 0 1.5rem;

  &:hover {
    opacity: 0.8;
  }
}

.mobileButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 3rem;
}

.mobileSignInBtn {
  width: 100%;
}

.mobileGetStartedBtn {
  width: fit-content;
  margin: 1rem auto;
  font-size: 1rem !important;
}

@media ($breakpoint-md) {
  .nav {
    margin-block: 1.5rem;
  }

  .navContainer {
    padding: 0;
  }

  .navContent {
    padding: 2rem 2.5rem;
  }

  .logo {
    width: 165px;
    height: 40px;
  }
}

@media ($breakpoint-lg) {
  .mobileMenu {
    display: none;
  }

  .navLinks,
  .navButtons {
    display: flex;
  }

  .mobileMenuBtn {
    display: none;
  }
}
