@use "index" as *;

.heroSection {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-block: 2.5rem;
}

.heroLeftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  @include heading;
  margin-bottom: 1rem;
}

.heroDescription {
  @include paragraph;
  margin-bottom: 48px;
}

.heroButtonContainer {
  @include hover-lift;
  padding: 1px !important;
  align-self: baseline;
  background-image: linear-gradient(135deg, #11cca8, #4ac5df) !important;
}

.heroButton {
  padding: 18px 40px;
  background: #164f4f;
  border-radius: 100vw;
}

.heroImage {
  width: 100%;
  height: auto;
}

@media ($breakpoint-lg) {
  .heroSection {
    flex-direction: row;
    padding-block: 5rem;
  }
}
