@use "index" as *;

.container {
  padding: 6.7px 1rem 10px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 2px;
  width: fit-content;
  background: linear-gradient(
    135deg,
    rgba(17, 204, 168, 0.15),
    rgba(74, 197, 223, 0.15)
  );
  background-attachment: scroll;
}

.text {
  @include text-blue-gradient(101.02deg);
}
